<!DOCTYPE HTML>
<html>
<head>
    <title>Opinionate</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- For Font Awesome -->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- Site-wide CSS and JS -->
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66738125-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<!-- Opinionate Circle Header -->
<%= link_to(:controller => 'main', :action => 'index') do %><div class="container">
  <div class="header-area">
      <h1 style="font-size: 50px;">Opinionate</h1>
      <h5>People's opinions on everything</h5>
  </div>
</div><% end %>

<!-- Info Line -->
<div class="container">
  <p class="lead" style="font-weight: normal; font-size: 1.8em; text-align:center; color: white;">Reactions to trending topics from Twitter and Reddit.</p>
</div>

<div class="container">
    <!-- Search Bar -->
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" id="search-field" name="search-field" placeholder="Explore opinions on a custom topic...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="search-button">Search</button>
            </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
    </br>
    <%= yield %>
</div>

<!-- Search Bar JS -->
<script type="text/javascript">
$(function() {
    // Search bar functionality
    function search() {
        console.log("Submit form");
        var search = $("#search-field").val();
        console.log(search);
        window.location = "./submit/"+search;
    };
    $("#search-button").click(search);
    $("#search-field").keyup(function(event){
        if(event.keyCode == 13) {
            $("#search-button").click();
        }
    });
});
</script>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p style="text-align: center; margin: 10px 0;">
            Copyright (c) 2015 <a href="https://github.com/hsheth2" target="_blank">Harshal Sheth</a>, Michael Colavita, Alok Puranik, and Nihar Sheth. Second place winner at the MIT Blueprint Hackathon.
            Sentiment analysis powered by <a href="https://indico.io/models" target="_blank">Indico.io</a>.
        </p>
    </div>
</footer>

</body>
</html>
